[user]
	email = 72962798+SanjeetBalamurugan@users.noreply.github.com
	name = SanjeetBalamurugan
[credential]
	helper = /usr/local/bin/git-credential-manager
	credentialStore = cache
[credential "https://dev.azure.com"]
	useHttpPath = true
[push]
	default = simple
